@define-color bg #000000;
@define-color accent #F28FAD;
@define-color text #ffffff;

* {
	border: none;
	border-radius: 8px;
	font-family: "JetbrainsMono Nerd Font" ;
	font-size: 16px;
	min-height: 8px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 2px;
  margin-left: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
  color: @text;
	background: @bg;
}
#workspaces {
	margin-top: 2px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: @bg;
	transition: none;
}

#workspaces button {
	transition: none;
	color: @text;
	background: transparent;
	font-size: 16px;
	border-radius: 0px;
}

#workspaces button.occupied {
	transition: none;
	color: @accent;
	background: transparent;
	font-size: 4px;
}

#workspaces button.active {
	color: @text;
        border-top: 0px solid #ABE9B3;
        border-bottom: 1px solid #e3e8fc;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #FAE3B0;
	border-color: #E8A2AF;
	color: #E8A2AF;
}

#workspaces button.active:hover {
    color: #E8A2AF;
}

#network {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 18px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @text;
	background: @bg;
}

#pulseaudio {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @text;
	background: @bg;
}

#battery {
	margin-top: 2px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @text;
	background: @bg;
}

#battery.charging, #battery.plugged {
	color: @text;
    background-color: @bg;
}

#battery.critical:not(.charging) {
    background-color: @bg;
    color: @text;
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 20;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @accent;
        color: #B5E8E0;
    }
}

#backlight {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @text;
	background: @bg;
}
#clock {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @text;
	background: @bg;
}

#tray {
	margin-top: 2px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @text;
	background: @bg;
}

#custom-dnd_focus {
    margin-top: 2px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: @text;
    background: @bg;
    /* Optional: Adjust font size or icon alignment if needed */
}

#custom-dnd_focus:hover {
    color: #E8A2AF;
    /* Optionally, add a border or background highlight */
}

#custom-dnd_focus.active {
    color: @accent;
}

#custom-cliphist {
    margin-top: 2px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: @text;
    background: @bg;

}

#custom-cliphist:hover {
    color: #E8A2AF;
    /* Optionally, add a border or background highlight */
}

#custom-cliphist.active {
    color: @accent;
}
