window {
	margin: 0px;
	border: none;
	background-color: #090A0A;
}

#input {
	margin: 5px;
	border: none;
	color: #ffffff;
	background-color: #090A0A;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #090A0A;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #090A0A;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #ffffff;
} 

#entry:selected {
	background-color: #14131D;
}
